@import url('https://fonts.googleapis.com/css?family=Noto+Sans:400,700&subset=vietnamese');

header.header .banner .caption-wrap a.button{
    margin: auto;
    display: block;
    margin-top: 45px;
}
.full_page header.header,
header.home .fixed-nav{
    min-height: 60px;
    padding: 0;
}
header.header .fixed-nav .navbar-brand{
    margin-top: 10px;
}
.header .member-area .box-info{
    margin: 8px 0;
}
.header .member-area .box-info .avatar{
    margin: -15px -50px 0 0;
}
.header .member-area a.dang-ky, 
.header .member-area a.dang-nhap{
	background: #0ac2fd;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    text-transform: none;
    border: 1px solid #fff;
    font-size: 18px;
    width: 125px;
    text-align: center;
    height: 37px;
    padding:0 15px;
    margin :5px 0 0 15px;
    line-height: 37px;
}
 .header .member-area a:hove{
 	background-color: #0bc3fc;
}
header.header .banner .caption-wrap h1{
    font-family: 'Noto Sans', sans-serif;
    font-size: 45px;
    line-height: 55px;
    font-weight: 600;
}
.header .member-area .box-info .avatar{
     margin-right: -5px;
    margin-top: -15px;   
}
.header .member-area .box-info{
    padding-right: 55px;
}
/*// end header*/
.box-bai-lam, .main-content{
	margin-top: 30px;
}
#main-menu-mathplay{
    margin-top: 6px;
}
#main-menu-mathplay .nav{
    width: auto;
    float: right;
}
#main-menu-mathplay li.dropdown a.dropdown-toggle{
    color: #fff;
    line-height: 15px;
    background-color:#0ac2fd;
    padding: 15px 15px;
}
 #main-menu-mathplay .dropdown-menu{
    color: #fff;
    background: #0ac2fd;
    position: absolute;
    text-align: center;
    min-width: 150px;
    left: auto;
    top: calc(100% + 5px);
    right: -10px;
    padding: 0;
}
 #main-menu-mathplay ul.dropdown-menu a{
    color: #fff;
    font-weight: 400;
    font-size: 18px;
    transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
}
#main-menu-mathplay ul.dropdown-menu li a:hover,
#main-menu-mathplay ul.dropdown-menu li a.active {
    color: #0ac2fd;
    background: #fff;
}
#main-menu-mathplay .navbar-nav .text span{
    color: #000;
}
/*************/
.question-rendered .start{
display: inline-block;
    width: 100%;
    font-size: 22px;
    color: #fff;
    background: #52c9f3;
    padding: 5px 0;
    margin-bottom: 15px;
    text-transform: none;
    -webkit-text-stroke: #fff 0px;
    text-shadow:none;

}
.list-chapter .chapter-item ul.nav li a i{
    background: #999;
    border-radius: 100%;
    padding: 1px;
    width: 20px;
    text-align: center;
    font-size: 18px;
    float: right;
    color: #ddd ;
    position: absolute;
    right: 5px;
    top: 5px;
}
.list-chapter .chapter-item ul.nav li a i.yellow-color{
    color: #ffde00 !important;
}
.list-chapter-page .content-left .head-list h3.hello{
    height: auto;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis
}