.rmm ul li a,
.rmm ul li:hover a,
.rmm ul ul li a,
.rmm.style ul li a {
    color: #fff
}
.rmm-toggled-title,
.rmm.style,
.rmm.style ul,
.rmm.style ul li {
    text-align: left
}

.rmm {
    margin: 0 auto
}
.rmm ul,
.rmm ul ul {
    margin: 0;
    padding: 0
}
.rmm ul {
    list-style: none;
    position: relative
}
.rmm ul:after {
    content: "";
    clear: both;
    display: block
}
.rmm .rmm-back a:after,
.rmm.style ul li>a:not(:only-child):after {
    speak: none;
    -webkit-font-smoothing: antialiased;
    content: "\e000"
}
.rmm ul li {
    float: left
}
.rmm ul li a {
    display: block;
    text-decoration: none
}
.rmm ul ul {
    position: absolute;
    top: 100%
}
.rmm ul ul li {
    float: none;
    position: relative
}
.rmm ul ul ul {
    position: absolute;
    left: 100%;
    top: 0;
    width: 100%
}
.rmm-toggled {
    width: 100%;
    background-color: #555;
    min-height: 50px;
    margin: 0 auto;
    display: none
}
.rmm-closed~.rmm-mobile {
    display: none!important
}
.rmm-toggled-controls {
    width: 100%
}
.rmm-toggled-title {
    width: 60%;
    float: left;
    font-size: 27px;
    color: #fff;
    font-weight: 600;
    display: block;
    padding: 8px 0 8px 35px;
    text-decoration: none;
    text-transform: uppercase
}
.rmm-toggled-button {
    display: block;
    width: 32px;
    padding: 0!important;
    margin: 10px 10px 0 0;
    border: 1px solid #fff;
    border-radius: 3px;
    float: right
}
.rmm-toggled-button span {
    float: left;
    display: block;
    margin: 3px 6px;
    height: 3px;
    background: #fff;
    width: 20px
}
.rmm .rmm-back {
    display: none;
    font-size: 12px
}
.rmm .rmm-back:after {
    display: none
}
.rmm .rmm-back a:after {
    position: relative;
    display: inline-block;
    -webkit-transform: rotate(-60deg);
    transform: rotate(-60deg);
    top: 1px;
    right: -2px;
    float: left;
    font-size: 10px
}

.rmm.style ul ul {
    transform: perspective(400px) rotate3d(1,0,0,-90deg);
    transform-origin: 50% 0;
    -webkit-transition: .8s;
    -moz-transition: .8s;
    transition: .8s

}
.rmm ul li:hover>ul {
    transform: perspective(400px) rotate3d(0,0,0,0);


}


.rmm.style ul ul ul {
    transform: perspective(400px) rotate3d(0,1,0,90deg);
    transform-origin: 0 50%;
    -webkit-transition: .8s;
    -moz-transition: .8s;
    transition: .8s
}
.rmm ul ul li:hover>ul {
    transform: perspective(400px) rotate3d(0,0,0,0);


}


.rmm ul li:hover>ul {
    padding: 0;
    margin-top: 0;
    margin-left: 0;

    height: auto;
    visibility: visible;
    opacity: 1;
    /*-webkit-transform: scale(1,1);*/
    /*-moz-transform: scale(1,1);*/
    /*transform: scale(1,1);*/
}
.rmm.style ul ul {
    transition: .6s;
    -webkit-transition: .6s;
    -moz-transition: .6s;
    /*-webkit-transform: scale(1,0);*/
    /*-moz-transform: scale(1,0);*/
    /*transform: scale(1,0);*/
    /*margin: 20px 0 0 -15px;*/
    background: #f3f3f3;
    border-radius: 0;
    position: absolute;
    min-width: 250px;
    z-index: 9999;
    padding: 10px 0;
    /*height: 0;*/
    visibility: hidden;
    opacity: 0;
    /*-webkit-box-shadow: inset 0 -5px 15px -5px rgba(0, 0, 0, .45);*/
    /*-moz-box-shadow: inset 0 -5px 15px -5px rgba(0, 0, 0, .45);*/
    /*box-shadow: inset 0 -5px 15px -5px rgba(0, 0, 0, .45);*/

}
.rmm.style> ul>li >ul{
    /*border-top: 4px solid #fff;*/
}
.rmm.style ul li a {
    display: block;
    padding: 6px 18px;
    text-decoration: none;
    font-size: 15px

}
.rmm.style>ul>li>a {
    -webkit-transition: .4s;
    -moz-transition: .4s;
    transition: .4s;
    /*font-size: 14px;*/
    color: #fff;
    text-transform: uppercase;
    padding: 12px 18px;
    font-weight: 600;
}
.blocks {
    display: block!important
}
.rmm.style>ul>li:hover>a, .rmm.style>ul>li.active_menu>a {
    background: url(../images/ac.png);
    color: #f70503;
    /* -webkit-box-shadow: 0 -4px 0 0 #f26b30; */
    /* -moz-box-shadow: 0 -4px 0 0 #f26b30; */
    /* box-shadow: 0 -4px 0 0 #f26b30; */
}
.rmm.style ul ul li a {
    color: #fff;
    padding-top: 10px;
    padding-bottom: 10px
}
.rmm.style ul ul li a:hover {
    /*background: #000000;*/
    /*-webkit-transition: .8s;*/
    /*-moz-transition: .8s;*/
    /*transition: .8s*/
    color: #17bebb;
}
.rmm.style ul li>a:not(:only-child):after {
    font: normal normal normal 14px/1 FontAwesome;
    content: "\f107";
    position: relative;
    display: inline-block;
    top: -2px;
    left: 2px;
    font-size: 13px
}
.rmm.style ul ul li>a:not(:only-child):after {
    content: "\f105";
    top: 2px;
    font-size: 11px;
    float: right;
    margin-right: -8px
}