@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900&subset=vietnamese');
@font-face {
    font-family: UTM;
    src: url('../fonts/UTM BRYANTLG.TTF');
    font-weight: 400;
    font-size: 14px;
}
@font-face {
    font-family: 'UTM Bold';
    src: url('../fonts/UTM BRYANTLG_BOLD.TTF');
    font-weight: 900;
    font-size: 14px;
}
@font-face {
  font-family: HelveticaNeue;
  src: url(../fonts/HelveticaNeue-Light.otf);
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: HelveticaNeue;
  src: url(../fonts/HelveticaNeue.otf);
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: HelveticaNeue;
  src: url(../fonts/HelveticaNeue-Medium.otf);
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: HelveticaNeue;
  src: url(../fonts/HelveticaNeue-Bold.otf);
  font-style: normal;
  font-weight: 600;
}

@font-face {
  font-family: HelveticaNeue;
  src: url(../fonts/HELVETICANEUE-CONDENSEDBOLD.OTF);
  font-style: normal;
  font-weight: 700;
}

body{
	font-family: UTM, 'Roboto', sans-serif;
	font-size: 18px;
	line-height: 1.5;
	font-weight: 400;
}
img{
	max-width: 100%;
	height: auto;
}
a:hover{
	text-decoration: none;
}
.padding0{
	padding: 0 !important;
}
.margin0{
	margin: 0 !important;
}
.clear{
	clear: both !important;
}
.inline-block{
	display: inline-block !important;
}
.yellow-color{
	color: #ffde00;
}
.grey-color{
	color: #7b8087;
}
.green-bg{
    background: #8cc444
}
.white-bg{
    background: #fff;
}
.blue-bg{
    background: #17bcba;
}
.red-bg{
    background: #e6592e;
}
.yellow-bg{
    background: #fecc15;
}

.header{
	background: #0ac2fd;
}
.header ol.breadcrumb{
    margin: 0;
    display: inline-block;
    background: none;
    color: #fff;
    padding: 19px 0;
    font-family: HelveticaNeue, sans-serif;
	font-weight: 300;
	font-size: 15px;
}
.header ol.breadcrumb>li>a,
.header ol.breadcrumb>li.active{
	color: #fff;
}
.breadcrumb>li+li:before{
    content: "\f105";
    font: normal normal normal 14px/1 FontAwesome;
    color: #fff;
}

.header .member-area{
	display: inline-block;
    float: right;
    position: relative;
}
.header .member-area .box-info{
	font-weight: 400;
	font-size: 15px;
    background: #fff;
    border-radius: 8px;
    margin: 13px 45px 13px 0;
    padding: 5px 15px 5px 10px;
    height: 35px;
    border: 1px solid #d7d7d7;
}
.header .member-area .box-info .avatar{
    width: 55px;
    height: 55px;
    border-radius: 100%;
    overflow: hidden;
    background: #fff;
    border: 1px solid #d7d7d7;
    position: absolute;
    right: 0;
    top: 3px;
}
.header .member-area .box-info .btn-group{
    float: right;
}
.header .member-area .box-info .btn-group ul.dropdown-menu{
    left: auto;
    right: -10px;
    top: 26px;
}
.header .member-area .box-info .btn-group>button.btn{
    border: none;
    background: none;
    padding: 0;
    color: #17bebb;
    text-transform: capitalize;
    font-size: inherit;
    line-height: 23px;
    margin: 0 5px;
    box-shadow: none;
}
.header .member-area a.dang-ky,
.header .member-area a.dang-nhap{
    display: inline-block;
    height: 45px;
    font-family: HelveticaNeue;
    color: #fff;
    font-size: 15px;
    font-weight: 300;
    text-align: center;
    padding: 11px 10px;
    margin: 7px 0;
}
.header .member-area a.dang-ky {
  background: url("../images/bg-dangky.png") center top no-repeat;
  width: 165px;
  margin-right: 40px;
}
.header .member-area a.dang-nhap {
  background: url("../images/bg-dangnhap.png") center top no-repeat;
  width: 150px;
}

.list-chapter-page .main-content{
	background: url('../images/bg_top_bai_lam.png') no-repeat top center/contain,
	 url('../images/bg-box-video.png') repeat-y top center/contain #fff;
}
h1.node-title.bg{
    font-family: HelveticaNeue, sans-serif;
    font-size: 16px;
    color: #fff;
    display: inline-block;
    background: url(../images/title-bg.png) no-repeat top left/100% 105px;
    min-width: 315px;
    padding: 60px 10px 20px 50px;
    line-height: 25px;
    font-weight: 500;
    margin-left: 40px;
}
.list-chapter-page .content-left .head-list{
    background: #3d94c1;
    padding: 25px;
    color: #fff;
    font-weight: 600;
    font-family: 'UTM Bold', UTM, 'Roboto', sans-serif;
    border-radius: 10px 10px 0 0;
	-webkit-text-stroke: #fff 2px;
}
.list-chapter-page .content-left .head-list .info>.avatar{
    border-radius: 100%;
    overflow: hidden;
    background: #949599;
    border: 4px solid #fff;
}
.list-chapter-page .content-left .head-list .info .text .star{
	font-size: 70px;
	font-weight: 900;
	line-height: 90px;
}
.list-chapter-page .content-left .head-list .info .text .star>i{
	color: #ffde00;
	-webkit-text-stroke: 0;
}
.list-chapter-page .content-left .head-list h3.hello{
    font-size: 25px;
    font-weight: 600;
    text-transform: uppercase;
    margin: 10px 0;
    text-shadow: 1px 2px 2px #000;
}
.list-chapter-page .content-left .head-list .next-lession{
	padding-right: 60px;
}
.list-chapter-page .content-left .head-list .next-lession .next-box{
	background: #53c8f3;
    padding: 10px 15px;
    box-shadow: 6px 3px 0px 1px #04609d;
    text-align: center;
}
.list-chapter-page .content-left .head-list .next-lession .next-box>span{
	font-size: 30px;
    text-shadow: 1px 2px 2px #000;
    width: 100%;
    display: inline-block;
    text-transform: uppercase;
}
.list-chapter-page .content-left .head-list .next-lession .next-box>a.link{
	color: #f7941d;
    -webkit-text-stroke: 1px;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 30px;
    background: #fff;
    display: block;
    text-align: center;
    border: 3px solid #f7941d;
    margin: 10px 0;
    border-radius: 4px;
}
.list-chapter-page .list-chapter{
	padding: 25px 35px;
	background: #fff;
	border-radius: 0 0 10px 10px;
}
.list-chapter .chapter-item{
	margin-bottom: 30px;
}
.list-chapter .chapter-item h2.title-sub{
	background: #3bc0c5;
	border-bottom: 3px solid #0e83c0;
	border-radius: 5px;
	color: #fff;
	margin: 0;
	padding: 0;
    display: inline-flex;
    width: 100%;
    align-items: center;
    z-index: 1;
    position: relative;
}
.list-chapter .chapter-item h2.title-sub>span.head{
    text-transform: capitalize;
    padding: 10px 10px;
    display: inline-block;
    line-height: 36px;
    font-size: 30px;
    border-radius: 0 5px 5px 0;
    background: #ffde00;
    text-shadow: 1px 2px 2px #000;
    -webkit-text-stroke: 2px #fff;
    white-space: nowrap;
}
.list-chapter .chapter-item.right h2.title-sub>span.head{
	background: #feb913;
}
.list-chapter .chapter-item h2.title-sub>span.name{
	font-size: 16px;
	font-weight: 600;
	min-width: 55%;
    text-align: center;
    padding: 0 10px;
}
.list-chapter .chapter-item ul.nav{
	top: -3px;
    z-index: 0;
    position: relative;
}
.list-chapter .chapter-item ul.nav li{
    background: #e3f4fc;
}
.list-chapter .chapter-item ul.nav li:nth-child(2n+1){
    background: #cbecf5;
}
.list-chapter .chapter-item ul.nav li a{
    font-size: 18px;
    padding: 5px;
    line-height: 20px;
}
.list-chapter .chapter-item ul.nav li a:hover{
	background: #53c8f3;
}

.list-chapter-page .sidebar-right .top-level{
    box-shadow: 5px 5px 9px -2px rgba(0, 0, 0, 0.75);
    border-radius: 10px;
    background: #53c8f3;
    background: -moz-linear-gradient(top, #53c8f3 0%, #e4f5fd 99%);
    background: -webkit-linear-gradient(top, #53c8f3 0%,#e4f5fd 99%);
    background: linear-gradient(to bottom, #53c8f3 0%,#e4f5fd 99%);
    display: inline-block;
    overflow: hidden;
    color: #fff;
}
.list-chapter-page .sidebar-right .top-level .box-top{
    display: inline-block;
    padding-top: 70px;
    background: url('../images/top-level.png') no-repeat center 5px #3bc0c5;
}
.list-chapter-page .sidebar-right .top-level .box-top h2.title{
    margin: 10px;
    text-align: center;
    font-size: 16px;
    -webkit-text-stroke: 1px #fff;
    text-transform: uppercase;
    line-height: 22px;
    text-shadow: 0px 2px 2px #111;
}
.sidebar-right .content-rating{
	
}
.sidebar-right .content-rating .item{
	display: inline-block;
}
.content-rating .item .no{
    text-align: center;
    display: inline-block;
    width: 100%;
    background: #0cbdf1;
    line-height: 25px;
    font-size: 16px;
}
.content-rating .item .person .info .name,
.content-rating .item .no{
	-webkit-text-stroke: 1px #fff;
    text-shadow: 0px 2px 2px #111;
}
.sidebar-right .content-rating .item .person{
	display: inline-block;
    padding: 10px;
}
.sidebar-right .content-rating .item .person .avatar{
    border-radius: 100%;
    overflow: hidden;
    width: 45px;
    border: 2px solid #fff;
}
.sidebar-right .content-rating .item .person .info{
	width: calc(100% - 45px);
    padding-left: 10px;
}
.sidebar-right .content-rating .item .person .info .rate{
    font-size: 14px;
    font-weight: 600;
}
.list-chapter-page footer{
    background: url(../images/bg-body-footer.png) no-repeat bottom center/100%;
    padding-top: 400px;
    color: #fff;
}
.list-chapter-page footer .des{
	background: url('../images/bg-footer.png') no-repeat top left/100%;
    font-weight: 600;
    padding: 15px 80px;
    font-size: 16px;
}
.list-chapter-page footer .copy-right{
	background: #75b557;
	padding: 5px 0;
	margin-top: 60px;
}
.list-chapter-page footer .copy-right .content{
	background: none;
	padding: 10px 0;
}

/************************ Lession page ************************/
.lession-page .lession-content{
    border-radius: 10px;
    box-shadow: 2px 2px 5px 0px rgba(0,0,0, 0.5);
    padding: 0;
    background: #fff;
    overflow: hidden;
}
.lession-page .lession-content .question-rendered{
    overflow: hidden;
}
.lession-page .boxRight{
    padding-left: 10px;
    padding-right: 0;
}
.lession-page .lession-process{
    background: #009cdf;
    padding: 20px 20px 15px;
    text-align: center;
    border-radius: 8px;
    margin-bottom: 12px;
}
.lession-page .lession-process .progress{
    position: relative;
    background: #0e76bc;
    box-shadow: 2px 2px 5px 0px rgba(0,0,0, 0.5);
    overflow: visible;
}
.lession-page .lession-process .progress .progress-bar{
    max-width: 100%;
    overflow: hidden;
}
.lession-page .lession-process .progress .star-point{
    position: absolute;
    z-index: 1;
    color: #17bebb;
    text-shadow: -1px 2px 5px #565656;
    top: -23px;
    font-size: 40px;
}
.lession-page .lession-process .progress .star-point.on{
    color: #ffde00;
}
.lession-page .lession-process .progress .star-1{
    left: 30%;
    margin-left: -18px;
}
.lession-page .lession-process .progress .star-2{
    left: 60%;
    margin-left: -18px;
}
.lession-page .lession-process .progress .star-3{
    right: -12px;
}
.lession-page .lession-process .diem{
    -webkit-text-stroke: #fff 2px;
    text-shadow: 0 2px 3px #111;
    font-size: 64px;
    color: #fff;
    line-height: 60px;
}
.lession-page .lession-process .diem .max-score{
    font-size: 25px;
}
.lession-page .lession-keyboard{
    background: #ebebeb;
    border-radius: 10px;
    box-shadow: 2px 2px 5px 0px rgba(0,0,0, 0.5);
    overflow: hidden;
    padding: 8px;
}
.lession-page .lession-keyboard .item{
    float: left;
    display: inline-block;
    width: 20%;
    min-width: 70px;
    height: 70px;
    line-height: 65px;
    border-radius: 8px;
    border: 1px solid #c8c7c7;
    text-align: center;
    font-size: 27px;
    font-weight: 600;
    color: #fff;
}
.lession-page .lession-keyboard .item.white-bg{
    color: #111;
}
.lession-page .lession-keyboard .item.col-2{
    width: 40%;
    min-width: 140px;
}
.lession-page .lession-keyboard .item:hover,
.lession-page .lession-keyboard .item:focus{
    color: #ffaf0e;
    cursor: pointer;
    box-shadow: 0px 0px 20px 5px #ddd inset;
}
.lession-page .lession-keyboard a.gui-bai{
    position: relative;
    margin: 15px 0 0;
    width: 100%;
    display: inline-block;
    border-radius: 8px;
    border: 1px solid #f48e37;
    text-transform: uppercase;
    font-weight: 600;
    padding: 5px;
    font-size: 27px;
}