/* Dành cho màn hình desktop */
@media all and (min-width: 1280px) {
   
}

/*max-width: 1024px (máy tính bảng loại to, hiển thị chiều ngang)*/
@mediascreen and (min-width: 1024px){

}

/*max-width: 768px (máy tính bảng loại to, hiển thị chiều dọc)*/
@mediascreen and (min-width: 768px){
    

}
@media screen and (max-width: 767px){
	#main-menu-mathplay .navbar-nav{
    	width: 100%;
    	text-align: right;
    	margin: 0;
	}
	#main-menu-mathplay .navbar-nav> li{
		display: inline-block;
	}
	.header .member-area a.dang-ky, .header .member-area a.dang-nhap{
		margin-left: 0;
	}
	#main-menu-mathplay li.dropdown a.dropdown-toggle{
		margin: -2px 0px 0px -15px;
    	font-size: 30px;
	}
   .hinhs img {
	    margin-left: 0;
	    width: auto;
	}

	#main-menu-mathplay  #menu{
		text-align: center;
		position: absolute;
		right: 0px;
		left: -8px;
	}
	.list-chapter-page .content-left .head-list .next-lession .next-box>span{
		font-size: 18px;
		width: 100%;
	}
	.list-chapter-page .content-left .head-list .next-lession{
		padding-right: 25px;
		margin-top: 15px;
	}
	.list-chapter-page .content-left .head-list h3.hello{
		font-size: 13px;
	    height: auto;
	    white-space: nowrap;
	    overflow: hidden;
	    text-overflow: ellipsis
	}
	.list-chapter-page .content-left .head-list .next-lession .next-box>span,.header .member-area .box-info .btn-group>button.btn{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 10px;
}

	.list-chapter-page .content-left .head-list .info .text .star{
		font-size: 40px;
		line-height: 50px;
	}
	.list-chapter-page .list-chapter{
		padding-right: 0;
		padding-left: 0;
	}
	.list-chapter .chapter-item ul.nav li a{
		padding: 5px 5px 0 1px;
	}
	.clearfix .frame{
		margin:10px -14px 0 !important;
	}
	header .member-area .box-info .btn-group>button.btn{
		white-space: nowrap;
	    overflow: hidden;
	    font-size: 10px;
	    text-overflow: ellipsis;
	}
	.list-chapter-page footer .des {
		background: url(../images/bg-footer.png) no-repeat top left/100% 245px;
	    font-weight: 700;
	    padding: 15px 40px;
	    font-size: 13px;
	    text-align: center;
	    width: 100%;
	}
	.btn-support{
		top:-200px;
	}
	.list-chapter-page footer .copy-right {
		max-width: 100%;
    	padding: 15px 0 0;
	}
	.list-chapter-page footer .copy-right .content{
	    background: none;
	    margin-top: 32px;
	    min-width: 102%;
	    text-align: center;
	}
	.list-chapter-page footer .copy-right .social{
	    position: absolute;
	    right: 0;
	    left: 0;
	    text-align: center;
	}

	.list-chapter-page footer{
		padding-top: 0;
	}

}

/*max-width: 800px (máy tính bảng, hiển thị chiều ngang)*/
@media only screen and (max-width: 800px) {
	
}
/*max-width: 600px (máy tính bảng, hiển thị chiều dọc)*/
@media only screen and (max-width: 600px) {
}

/*// man hinh dt hien thi chieu ngang*/
@media only screen and (max-width: 480px) {
}

/*// man hinh dt hien thi chieu doc*/
@media only screen and (max-width: 360px) {
}

